* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  list-style: none;
}

body {
  background: linear-gradient(135deg, #f8bbd0, #ffffff);
  min-height: 100vh;
}

/* NAVBAR same */
nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #f8bbd0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.navbar h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #d4af37;
}

.navbar img {
  width: 40px;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right ul {
  display: flex;
  gap: 20px;
}

.nav-actions button {
  background: linear-gradient(45deg, #c2185b, #d81b60);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-actions .active {
  box-shadow: 0 0 0 3px rgba(194, 24, 91, 0.3);
}

/* HEADER */
.fav-header {
  text-align: center;
  margin-top: 40px;
}

.fav-header h2 {
  font-size: 32px;
}

.fav-header p {
  color: #666;
  margin-top: 10px;
}

/* GRID */
.fav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

/* CARD */
.fav-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.fav-card:hover {
  transform: translateY(-8px);
}

.fav-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.fav-card h3 {
  margin: 10px 0;
}

.fav-card p {
  color: #c2185b;
  font-weight: 600;
}

/* ACTIONS */
.fav-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.fav-actions button {
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

/* DELETE */
.remove-btn {
  background: #e53935;
}

/* CART */
.cart-btn {
  background: #c2185b;
}

/* EMPTY */
.empty {
  text-align: center;
  margin-top: 100px;
}

.empty i {
  font-size: 60px;
  color: #c2185b;
}

.empty h3 {
  margin-top: 15px;
}

.empty p {
  color: #666;
  margin: 10px 0;
}

.empty button {
  background: linear-gradient(45deg, #c2185b, #ad1457);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .fav-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .fav-grid {
    grid-template-columns: 1fr;
  }
}
